<div class="py-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do|f| %>
  <div class="field mt-4">
    <%= f.email_field :email, autofocus: true,placeholder:"Email@mail.com",class:"mb-2", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password,placeholder:"password",class:"mb-2", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-primary" %>
  </div>
<% end %>
</div>

